body {
  margin: 0;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.main-contain {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.console {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: black;
}

.consoleblock {
  padding: 2rem;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: rgb(18, 18, 18);
}

.albums {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(18, 18, 18);
}

.collection {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: rgb(18, 18, 18);
  padding: 1rem;
}

.albumcard {
  background-color: rgb(23, 23, 23);
  display: grid;
  height: fit-content;
  padding: 1rem;
  place-items: start;
  grid-template-rows: auto 1fr;
  border-radius: .5rem;
  cursor: pointer;
  transition: .3s;
}

.albumcard:hover {
  box-shadow: 0 0 10px black;
  background-color: rgb(39, 39, 39);
}

.albumimg {
  height: 10rem;
  width: 10rem;
  border-radius: .3rem;
}

.albumtitle {
  font-size: large;
  padding-top: .5rem;
}

.albumartist {
  padding-top: .5rem;
  font-size: small;
  color: grey;
}

.song {
  background-color: black;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: .2rem;

}

a:hover {
  background-color: rgb(35, 35, 35);
}

.linki{
  all: unset;
  height: fit-content;
}

.linki:hover{
  background-color: rgba(240, 248, 255, 0);
}

.tracklist{
  height: 100%;
  overflow-y: scroll;
  background-color: rgb(18, 18, 18);
}

.track{
  padding: 1rem;
  background-color: rgb(21, 21, 21);
  
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: .3s;
}

.track:hover{
  background-color: rgb(33, 33, 33);
}

.duration{
  color: rgb(176, 176, 176);
}

.navigation{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1rem;
}

.navigation_wrapper{
  background-color: rgb(41, 41, 41);
  width: 100%;
  height: 6px;
  cursor: pointer;
  border-radius: 3px;
}

.seek_bar{
  background-color: grey;
  height: 100%;
  border-radius: 3px;
}

.navigation_wrapper:hover .seek_bar{
  background-color: rgb(29, 185, 84);

}

.volume-slider {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

input[type="range"]{
  cursor: pointer;
}